<div class="card no-border-card mx-4">
    <div class="blog-card shadow">
        <div class="meta">
            <div class="photo" style="background-image: url(/assets/imgs/attomo.jpg)"></div>
        </div>
        <div class="description">
            <h1>Attomo Digital</h1>
            <h2>2023</h2>
            <p>Trabajé durante tres meses en esta consultora informática, en un período de formación en prácticas. Durante este tiempo, participé en varios proyectos desarrollados con React, donde también contribuí al diseño de los mismos.</p>
        </div>
    </div>
    <div class="blog-card alt shadow">
        <div class="meta">
            <div class="photo" style="background-image: url(/assets/imgs/EvidenAtos.jpg)"></div>
        </div>
        <div class="description">
            <h1>Atos - Eviden</h1>
            <h2>2024</h2>
            <p>
                Durante mi período de formación en prácticas en este centro de trabajo, recibí y apliqué una amplia formación en Angular, Spring Core y Spring Boot. Además, participé en el desarrollo de una aplicación destinada a mejorar la gestión de proyectos mediante la metodología Scrum.
            </p>
        </div>
    </div>
</div>