<div class="card no-border-card mx-4">
    <div class="blog-card shadow">
        <div class="meta">
            <div class="photo" style="background-image: url(/assets/imgs/BG-linkedin.jpg)"></div>
        </div>
        <div class="description">
            <h1>Conóceme un poco mejor</h1>
            <h2>Linkedin</h2>
            <p> A través de mi perfil en LinkedIn, tendrás la oportunidad de conocerme más a fondo. Podrás explorar en detalle mis conocimientos y habilidades, descubrir las empresas y proyectos en los que he trabajado, y acceder a una amplia gama de información adicional que, sin duda, despertará tu interés. 
            <p class="read-more">
                <a (click)="confirmLinkedin()">Ir a Linkedin</a>
            </p>
        </div>
    </div>
    <div class="blog-card alt shadow">
        <div class="meta">
            <div class="photo" style="background-image: url(/assets/imgs/BG-github.jpg)"></div>
        </div>
        <div class="description">
            <h1>Descubre mis proyectos</h1>
            <h2>Github</h2>
            <p>
                Desde mi perfil en GitHub, tendrás la oportunidad de explorar todos mis proyectos, descubrir las técnicas y herramientas que utilizo, y obtener una visión más detallada sobre mi enfoque de trabajo y mis intereses profesionales.  </p>
            <p class="read-more">
                <a (click)="confirmGithub()">Ir a Github</a>
            </p>
        </div>
    </div>
</div>