.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 80%;
}

.slider .slide-track{
    -webkit-animation: scroll 20s linear infinite;
    animation: scroll 20s linear infinite;
    display: flex;
    height: 200px;
    width: calc(250px * 14);
}

.slider .slide{
    display: flex;
    justify-content:space-around ;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 200px;
}

.slider .svg{
    border: solid green;
    border-radius: 10px;
    border: 2px solid #bbbbbb;
}

@media (prefers-color-scheme: dark) {
  
  
  
    p{
      color: white;
    }
  
  }

@-webkit-keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px *7));
    }
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px *7));
    }
}